{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block static %}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% endblock static %}
    {% block title %}<title>Document</title>{% endblock title %}
</head>
<body>
    <ul class="navigation">
        <li>
            <a>Main</a>
        </li>
        <li>
            <a>ne Main</a>
        </li>
    </ul>
    {% block content %}


    {% endblock content %}
</body>
</html>